version: '3.4'

services:
  new-api:
    image: calciumion/new-api:latest
    container_name: new-api
    restart: unless-stopped
    command: --log-dir /app/logs
    ports:
      - "3000:3000"
    volumes:
      - ./data:/data
      - ./logs:/app/logs
    environment:
      - TZ=Asia/Shanghai
      # - 'SQL_DSN=postgresql://user:password@host:port/dbname' #数据库地址,如果是docker部署的数据库,地址应该为容器地址
      # - REDIS_CONN_STRING=redis://:password@host:6379/0
