services:
  postgres:
    image: postgres:18.1
    container_name: postgres
    restart: always
    ports:
      - 5432:5432
    volumes:
      - ./data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER= #用户名
      - POSTGRES_PASSWORD= #密码
