version: "3"

networks:
  gitea:
    external: false

services:
  gitea:
    image: gitea:latest
    container_name: gitea
    restart: unless-stopped
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - GITEA__database__DB_TYPE=postgres # 数据库类型
      - GITEA__database__HOST=host:port # 数据库地址
      - GITEA__database__NAME=gitea #数据库名称
      - GITEA__database__USER=user #数据库用户名
      - GITEA__database__PASSWD=password #数据库密码
    volumes:
      - ./data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3000:3000"
      - "222:22"
    networks:
      - gitea
